<!DOCTYPE html>
<html>
    <head>
        <title>Vue CRUD PHP+MySql</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
        <div id="root">
            <div class="container">
                <h1 class="fleft">List Of Users</h1>
                <button class="fright addNew" @click="showAddModal=true;">Add New</button>
                <div class="clear"></div>
                <hr>
                <table class="list">
                    <tr>
                        <th>ID</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Mobile</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>aaaaaa</td>
                        <td>bbbbbb</td>
                        <td>dddddd</td>
                        <td><button @click="showEditModal=true;">Edit</button></td>
                        <td><button @click="showDeleteModal=true;">Delete</button></td>
                    </tr>
                </table>
            </div>
        

                <!--=============Modal Add=============-->
                <div class="modal" id="addModal" v-if="showAddModal">
                    <div class="modalContainer">
                        <div class="modalHeader">
                            Add New User
                            <button class="fright close" @click="showAddModal=false;">X</button>
                        </div>
                        <div class="modalContent">
                            <table class="form">
                                <tr>
                                    <th>Username</th>
                                    <th> : </th>
                                    <td><input type="text" name=""></td>
                                </tr>

                                <tr>
                                        <th>Email</th>
                                        <th> : </th>
                                        <td><input type="text" name=""></td>
                                </tr>

                                <tr>
                                        <th>Mobile</th>
                                        <th> : </th>
                                        <td><input type="text" name=""></td>
                                </tr>
                                <tr>
                                        <th></th>
                                        <th></th>
                                        <td><button @click="showAddModal=false;">Save</button></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <!--=============End Modal Add=============-->

                <!--=============Modal Edit=============-->
                <div class="modal" id="editModal" v-if="showEditModal">
                        <div class="modalContainer">
                            <div class="modalHeader">
                                Edit User
                                <button class="fright close" @click="showEditModal=false;">X</button>
                            </div>
                            <div class="modalContent">
                                <table class="form">
                                    <tr>
                                        <th>Username</th>
                                        <th> : </th>
                                        <td><input type="text" name=""></td>
                                    </tr>
    
                                    <tr>
                                            <th>Email</th>
                                            <th> : </th>
                                            <td><input type="text" name=""></td>
                                    </tr>
    
                                    <tr>
                                            <th>Mobile</th>
                                            <th> : </th>
                                            <td><input type="text" name=""></td>
                                    </tr>
                                    <tr>
                                            <th></th>
                                            <th></th>
                                            <td><button @click="showEditModal=false;">Update</button></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--=============End Modal Edit=============-->

                    <!--=============Modal Delete=============-->
                    <div class="modal" id="deleteModal" v-if="showDeleteModal">
                        <div class="modalContainer">
                            <div class="modalHeader">
                                Delete User
                                <button class="fright close" @click="showDeleteModal=false;">X</button>
                            </div>
                            <div class="modalContent">
                                <p>
                                    You are going to delete...
                                </p>
                                <br><br><br><br>
                                <button @click="showDeleteModal=false;">Yes</button>
                                <button @click="showDeleteModal=false;">No</button>
                            </div>
                        </div>
                    </div>
                    <!--=============End Modal Delete=============-->

        </div><!--End Root -->

    <script type="text/javascript" src="js/vue.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    </body>
</html>